*{
	color : #3e3e3e;
}

body{
	margin : 0;
}

header{
    position: relative;
	width : 100%;
	height : 115px;
	background-color : #e8e8e8;
	border-radius : 0px 0px 10px 10px;
}

.logo{
    display: block;
    float : left;
}

.loginDisplay
{
    display: block;
    padding : 15px;
	float : right;
    text-align: center;
}

.loginDisplay a
{
    font-size: 15px;
}

footer{
    padding-top:20px;
}